In [92]:
import pandas as pd
import numpy as np
import matplotlib as plt
import yfinance as yf
from bs4 import BeautifulSoup
import requests

## Question 1: Use the yfinance to Extract Stock Data

In [93]:
## Extracting Tesla Stocks Using yfinance
tesla = yf.Ticker('TSLA')
tesla_stocks = tesla.history(period='max') # stocks during the whole period
tesla_stocks # all stocks 
tesla_stocks.reset_index(inplace=True) # reseting the index
tesla_stocks.head() # displaying the first 5 rows
#tesla_stocks.plot(x="Date", y="Open") # plot the stocks

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Extracting Tesla Revenue Data Using Webscrapping

In [94]:
url_tesla = 'https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ'
data_tesla = requests.get(url).text # getting the requests from the url
soup_tesla = BeautifulSoup(data, 'html.parser') # parsing the HTML

soup.find_all('title') # finding the title

tesla_revenue = pd.DataFrame(columns= ['Date', 'Revenue']) # extracting the table 

for row in soup.find_all('tbody')[1].find_all('tr'): # looping through the rows, to find date and revenue:
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")

    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

tesla_revenue.head()

         Date Revenue
0  2021-07-31    1183
1  2021-04-30    1277
2  2021-01-31    2122
3  2020-10-31    1005
4  2020-07-31     942

## Question 3: Extracting GameStop Data Using yfinance

In [95]:
gamestop = yf.Ticker('GME') # getting the ticker
gamestop_stock = gamestop.history(period='max') # during the whole period
gamestop_stock # the stock period
gamestop_stock.reset_index(inplace=True) #reseting the index
gamestop_stock.head() #displaying the first 5 stocks

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850831,6.864296,6.682506,6.733003,2755400,0.0,0.0
2,2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
4,2002-02-20,6.463681,6.648838,6.413183,6.648838,1723200,0.0,0.0

## Question 4: Extracting GameStop Revenue data Using WebScrapping

In [96]:
url_gamestop = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ'
data_gamestop = requests.get(url).text
soup_gamestop = BeautifulSoup(data, 'html.parser')

soup.find_all('title')

for row in soup.find_all('tbody')[1].find_all('tr'):
    col = row.find_all('td')
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")

    gamestop_revenue = tesla_revenue.append({'Date': date, 'Revenue': revenue}, ignore_index = True)

gamestop_revenue.head()

         Date Revenue
0  2021-07-31    1183
1  2021-04-30    1277
2  2021-01-31    2122
3  2020-10-31    1005
4  2020-07-31     942

## Question 5: Tesla Stock and Ravenue Dashboard

In [ ]:
#i'll use a graph to make a dashboard (dont know if it is correct but it my way of doing)
graph_tesla = make_graph(tesla)