In [ ]:
!pip install yfinance
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

In [ ]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
#function to make graphs
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use the yfinance to Extract Stock Data

In [ ]:
## Extracting Tesla Stocks Using yfinance
tesla = yf.Ticker('TSLA')
tesla_stocks = tesla.history(period='max') # stocks during the whole period
ttesla_data.reset_index(inplace = True)
tesla_data.head() # displaying the first 5 rows
#tesla_stocks.plot(x="Date", y="Open") # plot the stocks

## Question 2: Extracting Tesla Revenue Data Using Webscrapping

In [9]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, "html.parser")
soup.find_all('title')


tesla_revenue = pd.DataFrame(columns= ['Date', 'Revenue']) # extracting the table 

for row in soup.find_all('tbody')[1].find_all('tr'): # looping through the rows, to find date and revenue:
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")

    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

In [10]:
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [11]:
tesla_revenue.tail()

          Date Revenue
43  2010-09-30      31
44  2010-06-30      28
45  2010-03-31      21
47  2009-09-30      46
48  2009-06-30      27

## Question 3: Extracting GameStop Data Using yfinance

In [12]:
gamestop = yf.Ticker('GME') # getting the ticker
gamestop_stock = gamestop.history(period='max') # during the whole period
gamestop_stock # the stock period
gamestop_stock.reset_index(inplace=True) #reseting the index
gamestop_stock.head() #displaying the first 5 stocks

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850831,6.864296,6.682506,6.733003,2755400,0.0,0.0
2,2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
4,2002-02-20,6.463681,6.648838,6.413183,6.648838,1723200,0.0,0.0

## Question 4: Extracting GameStop Revenue data Using WebScrapping

In [14]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, "html.parser")
soup.find_all('title')

for row in soup.find_all('tbody')[1].find_all('tr'):
    col = row.find_all('td')
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")

    gamestop_revenue = tesla_revenue.append({'Date': date, 'Revenue': revenue}, ignore_index = True)

In [15]:
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]
gamestop_revenue.tail()

          Date Revenue
44  2010-06-30      28
45  2010-03-31      21
46  2009-09-30      46
47  2009-06-30      27
48  2005-01-31     709

## Question 5: Tesla Stock and Ravenue Dashboard

In [16]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

AttributeError: 'str' object has no attribute 'Date'

## Question 6: Gamestop Stock and Ravenue Dashboard

In [ ]:
make_graph(gamestop_data, gamestop_revenue, 'GameStop')